
// Reset box-sizing ----------------------------------------------------

.box-sizing(@model: border-box) {
  -webkit-box-sizing: @model;
     -moz-box-sizing: @model;
          box-sizing: @model;
}

*,
*:before,
*:after {
  .box-sizing();
}

html {
  font-size: 87.5%;
}
